<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
      <bean class="in.sp.DI1.Addresh" id="ad1">
      		<property name="student" ref="std1"></property>
      </bean>
      
       <bean class="in.sp.DI1.student" id="std1">
      		<property name="addresh" ref="ad1"></property>
      </bean>
      
      

</beans>