<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
		<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
			<property name="Location" value="resources/student.properties"></property>
		</bean>
    <!-- bean definitions here -->
    <bean class="spSpring1.student" name="std1">
		<property name="name" value="${student.name}"></property>
		<property name="roll" value="${student.roll}"></property>    
    </bean>

</beans>